<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    <style type="text/css">
    #result {
        margin-top: 75px;
    }
    
    .facebook-button {
        margin-top: 50px;
    }
    </style>
</head>

<body>
    <!--FACEBOOK SIGN IN -->
    <script>
    
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '331908757229504',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

{
    status: 'connected',
    authResponse: {
        accessToken: '...',
        expiresIn:'...',
        signedRequest:'...',
        userID:'...'
    }
}
    </script>
    <script>
    function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
</script>
    <div class="container-fluid text-center">

<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
        <br>
        <br>
        <div id="result"></div>
    </div>
    <!--END FACEBOOK SIGN IN -->
</body>

</html>
